<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:deployInfo.properties</value>
		</property>
	</bean>
	
	  
	<!-- db -->
	<bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
		<property name="driver" value="com.mysql.jdbc.Driver"></property>
		<property name ="url" value= "${DB_URL}"></property >
		<property name="username" value="${DB_USER}"></property>
		<property name="password" value="${DB_PW}"></property>
		<property name="poolPingQuery" value="select 1" />
		<property name="poolPingEnabled" value="true" />
		<property name="poolPingConnectionsNotUsedFor" value="7200000" />
		<property name="poolMaximumActiveConnections" value="5" />
		<property name="poolMaximumIdleConnections" value="5" />
	</bean>
		
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis/query-map.xml"></property>
	</bean>
	
</beans>